header{
    background-color: rgb(161, 219, 252);
    color: rgb(8, 8, 184);
    padding-bottom: 10px;
    text-align: start;
}

header{
    border-radius: 15px;
    border: 1px gainsboro solid;
    margin-top: 15px;
    margin-left:15%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 20px 20px;
}

main{
    margin-top: 15px;
    margin-left: 15%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 20px 20px;
}

#buttons {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#resultado {
    width: 100%;
    text-align: left;
    background-color: rgba(161, 219, 252, 0.486);
    color: black;
    margin-block: 10px;
}

#descricao {
    width: 100%;
    text-align: left;
    background-color: rgba(161, 219, 252, 0.486);
    color: black;
    padding: 40px;
    margin-block: 10px;
}