h2{
    color: green;
    text-align: center;
}

input[type="text"]{
    margin-bottom: 10px;
    /*width: 100%;*/
}

input[type="submit"]{
    margin-top: 10px;
}

table{
    border-collapse: collapse;
}

table svg{
    width: 4%;
}
